<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-start size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Register</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" [(ngModel)]="user.email" placeholder="Correo" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" [(ngModel)]="user.password" placeholder="Password" required></ion-input>
            </ion-item>
          </div>
          <div padding>
              <ion-button color="primary" size="large" (click)="onRegister()" expand="block">Register</ion-button>
          </div>
          <div>
            <a routerlink="/Login">Existing Account</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
